<main
  class="container mx-auto d-flex justify-content-center flex-column align-items-center mt-5"
>
  <h1 class="mb-5">Angular Flags</h1>

  <div class="overflow-auto w-100 h-100 mx-auto">
    <table class="table mt-5 table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">País</th>
          <th scope="col">Moeda</th>
          <th scope="col">Bandeira</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of flags">
        <tr>
          <td>{{item.name.common}}</td>
          <td>
            <ul>
              <li *ngFor="let currency of item.currencies | keyvalue">
                {{ currency.value.name }}
              </li>
            </ul>
          </td>
          <td><img [src]="item.flags.svg" [alt]="item.flags.alt" class="flags"></td>
          <td>Mais Informações</td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link bg-dark text-white" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link bg-dark text-white" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link bg-dark text-white" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link bg-dark text-white" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link bg-dark text-white" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</main>
