<main
  class="container mx-auto d-flex justify-content-center flex-column align-items-center mt-5"
>
  <h1 class="mb-5">Angular Flags</h1>

  <div class="table-container mb-4 w-100">
    <table class="table mt-5 table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">País</th>
          <th scope="col">Moeda</th>
          <th scope="col">Bandeira</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of flags">
        <tr>
          <td>{{item.name.common}}</td>
          <td>
            <ul>
              <li *ngFor="let currency of item.currencies | keyvalue">
                {{ currency.value.name }} - {{currency.value.symbol}}
              </li>
            </ul>
          </td>
          <td><img [src]="item.flags.svg" [alt]="item.flags.alt" class="flags"></td>
          <td>Mais Informações</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
